<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/fragment  ::  css" th:remove="tag"></object>
    <object th:include="fragments/fragment  ::  js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment  ::  navbar"></nav>
<div class="container-fluid">
    <div class="container">
        <h1 class="text-center font-weight-bold mt-5" > Tambah Pasien </h1>

        <form th:action="@{/pasien/add}" th:object="${pasien}" method="POST">
            Jenis Surat:&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
            <br><br>
                <select class="form-control" >
                    <option th:each="jenisSurat : ${jenisSuratList}" th:value="${jenisSurat.id}"
                            th:text="${jenisSurat.nama}">
                </select>
            <br><br>

            Keterangan:
            <input class="form-control" type="date" th:field="*{keterangan}" /><br><br>

            <button class="btn btn-primary">
                <a style="color: white"> Submit </a>
            </button>
        </form>
    </div>
</div>
</body>
</html>
