<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Tambah Jenis Lowongan</title>
  <object th:include="fragments/fragment  ::  css" th:remove="tag"></object>
  <object th:include="fragments/fragment  ::  js" th:remove="tag"></object>
</head>

<body>
  <nav th:replace="fragments/fragment  ::  navbar"></nav>
  <div class="container-fluid" style="margin-top: 10px;">
    <div class="card">
      <div class="card-header">
          <h5>Pembuatan Jenis Lowongan</h5>
      </div>
      <div class="card-body">
        <div th:if="${status != null}">
          <span th:if="${!status}" th:text="${message}" style="color: red"></span>
          <span th:if="${status}" th:text="${message}" style="color: green"></span>
        </div>
        <form th:action="@{/jenis-lowongan/add}" method="POST" th:object="${jenisLowongan}">
          <div class="form-group">
            <label for="input-jenis-nama">Nama*</label>
            <input type="text" name="nama" id="input-jenis-nama" required placeholder="Masukkan nama jenis lowongan..." maxlength="200" class="form-control">
            <small id="namaHelp" class="form-text text-muted">Nama memiliki maksimal 200 karakter dan belum pernah terdaftar (unik).</small>
          </div>          
          <div class="form-group">
            <label for="input-jenis-keterangan">Keterangan*</label>
            <input type="text" name="keterangan" id="input-jenis-keterangan" required placeholder="Masukkan keterangan jenis lowongan..." maxlength="200" class="form-control">
            <small id="keteranganHelp" class="form-text text-muted">Keterangan memiliki maksimal 200 karakter.</small>
          </div>          
          <button type="submit" class="btn btn-primary">Simpan</button>
        </form>
      </div>                
    </div>    
  </div>
</body>

</html>