<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title id="pageTitle">Daftar Pengajuan Surat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: meta" th:remove="tag"></object>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div th:replace="fragments/fragment :: navbar-header"></div>
    <div th:replace="fragments/fragment :: ui-theme-settings"></div>
    <div class="app-main">
        <div th:replace="fragments/fragment :: navbar-sidebar"></div>
        <!-- CONTENT GOES HERE -->
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-car icon-gradient bg-mean-fruit"></i>
                            </div>
                            <div>Daftar Pengajuan Surat
                                <div class="page-title-subheading">Seluruh surat yang telah diajukan.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-card mb-3 card">
                            <div class="card-header">Daftar Pengajuan Surat</div>
                            <div class="table-responsive">
                                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">No</th>
                                        <th th:if="${username} == 'Admin TU'">Nama Pemohon</th>
                                        <th th:if="${username} == 'Kepala Sekolah'">Nama Pemohon</th>
                                        <th class="text-center">Jenis Surat</th>
                                        <th class="text-center">Nomor Surat</th>
                                        <th class="text-center">Waktu Pengajuan</th>
                                        <th class="text-center">Keterangan</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="pengajuanSurat, iterationStatus : *{listPengajuan}">
                                        <td class="text-center" th:text="${iterationStatus.count}"> </td>
                                        <td th:if="${username} == 'Admin TU'" th:text="${pengajuanSurat.user.username}" ></td>
                                        <td th:if="${username} == 'Kepala Sekolah'" th:text="${pengajuanSurat.user.username}" ></td>
                                        <td class="text-center" th:text="${pengajuanSurat.jenisSurat.nama}"></td>
                                        <td class="text-center" th:text="${pengajuanSurat.noSurat}"></td>
                                        <td class="text-center" th:text="${#dates.format(pengajuanSurat.tanggalPengajuan, 'dd-MM-yyyy')}"></td>
                                        <td class="text-center" th:text="${pengajuanSurat.keterangan}"></td>
                                        <td class="text-center" th:text="${pengajuanSurat.status}"></td>
                                        <div class="inline-buttons">
                                            <td class="text-center" >
<!--                                    <a th:href= "@{/daftar-pengajuan-surat}">-->
<!--                                        <button class="btn btn-sm btn-primary">Detail</button>-->
<!--                                    </a>-->
                                                <a th:if="${username} == 'Kepala Sekolah'" th:href= "@{'/pengajuan-surat/ubah/'
                                                    + ${#httpServletRequest.remoteUser} + @{'/'} + ${pengajuanSurat.id}}">
                                                    <button class="btn btn-sm btn-dark"><i class="fa fa-edit"></i>ubah</button>
                                                </a>
                                                <a th:if="${username} == 'Admin TU' and ${pengajuanSurat.status} == 'Disetujui'"
                                                   th:href= "@{'/pengajuan-surat/ubah/'+
                                                    ${#httpServletRequest.remoteUser} + @{'/'} + ${pengajuanSurat.id}}">
                                                    <button class="btn btn-sm btn-dark"><i class="fa fa-edit"></i>ubah</button>
                                                </a>
                                                <a th:if="${username} != 'Admin TU' and (${pengajuanSurat.status} == 'Selesai' or
                                                    ${pengajuanSurat.status} == 'Menunggu Persetujuan')"
                                                   th:href="@{'/pengajuan-surat/hapus/' + ${pengajuanSurat.id}}">
                                                    <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>hapus</button>
                                                </a>
                                            </td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-block text-center card-footer">
                                <form th:action="@{/pengajuan-surat/tambah/}" method="GET">
                                    <button class="btn-wide btn btn-success">Tambah</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="fragments/fragment :: script"></script>
</div>

</body>

</html>
