<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Update Lowongan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: meta" th:remove="tag"></object>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div th:replace="fragments/fragment :: navbar-header"></div>
    <div th:replace="fragments/fragment :: ui-theme-settings"></div>
    <div class="app-main">
        <div th:replace="fragments/fragment :: navbar-sidebar"></div>
        <!-- CONTENT GOES HERE -->
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-display1 icon-gradient bg-premium-dark">
                                </i>
                            </div>
                            <div>Form Update Lowongan
                                <div class="page-title-subheading">Form ini digunakan untuk mengubah data lowongan yang telah dibuat.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">-->
                <!--                    <li class="nav-item">-->
                <!--                        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">-->
                <!--                            <span>Tambah Lowongan</span>-->
                <!--                        </a>-->
                <!--                    </li>-->
                <!--                </ul>-->
                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                        <div th:if="${successStatus}" class="alert alert-success">
                            <span th:text="${successMessage}"></span>
                            <br>
                        </div>
                        <div th:if="${failureStatus}" class="alert alert-danger">
                            <span th:text="${failureMessage}"></span>
                            <br>
                        </div>
                        <div class="main-card mb-3 card">
                            <div class="card-body"><h5 class="card-title">Form Update Lowongan</h5>
                                <form class="form needs-validation" role="form" th:action="@{/lowongan/update/{id}(id=${lowongan.id})}" th:object="${lowongan}" method="POST">
                                    <div class="position-relative row form-group">
                                        <label for="judulLowongan" class="col-sm-2 col-form-label">Judul</label>
                                        <div class="col-sm-10">
                                            <input name="judul" id="judulLowongan" placeholder="Judul Lowongan" type="text" th:value="${lowongan.judul}" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="position-relative row form-group">
                                        <label for="tanggalDibuka" class="col-sm-2 col-form-label">Tanggal Dibuka</label>
                                        <div class="col-sm-10">
                                            <input name="tanggalDibuka" id="tanggalDibuka" placeholder="" type="date" th:value="${lowongan.tanggalDibuka}" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="position-relative row form-group">
                                        <label for="tanggalDitutup" class="col-sm-2 col-form-label">Tanggal Ditutup</label>
                                        <div class="col-sm-10">
                                            <input name="tanggalDitutup" id="tanggalDitutup" placeholder="" type="date" th:value="${lowongan.tanggalDitutup}" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="position-relative row form-group">
                                        <label for="keterangan" class="col-sm-2 col-form-label">Keterangan</label>
                                        <div class="col-sm-10">
                                            <input name="keterangan" id="keterangan" placeholder="Keterangan" type="text" th:value="${lowongan.keterangan}" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="position-relative row form-group">
                                        <label for="jumlah" class="col-sm-2 col-form-label">Jumlah</label>
                                        <div class="col-sm-10">
                                            <input name="jumlah" id="jumlah" placeholder="" type="number" th:value="${lowongan.jumlah}" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="position-relative row form-group">
                                        <label for="jenisLowongan" class="col-sm-2 col-form-label">Jenis Lowongan</label>
                                        <div class="col-sm-10">
                                            <select th:field="*{jenisLowongan}" id="jenisLowongan" class="form-control" size="0" th:value="${lowongan.jenisLowongan.nama}" disabled>
                                                <option th:value="0" selected> -- Pilih Jenis Lowongan -- </option>
                                                <option th:each="jenisLowongan : ${listJenisLowongan}" th:value="${jenisLowongan.id}" th:text="${jenisLowongan.nama}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <input type="reset" class="mt-1 btn btn-secondary" value="Cancel">
                                    <button type="submit" class="mt-1 btn btn-primary">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="fragments/fragment :: script"></script>
</div>
</body>
</html>