<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <object th:include="fragments/fragment :: meta" th:remove="tag"></object>
</head>
<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div th:replace="fragments/fragment :: navbar-header"></div>
<!--    <div th:replace="fragments/fragment :: ui-theme-settings"></div>-->
    <div class="app-main">
<!--        <div th:replace="fragments/fragment :: navbar-sidebar"></div>-->
        <!-- CONTENT GOES HERE -->
        <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="pe-7s-users icon-gradient bg-premium-dark">
                                </i>
                            </div>
                            <div>Login
                                <div class="page-title-subheading">Otentikasi diperlukan untuk mengakses sistem.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">-->
<!--                    <li class="nav-item">-->
<!--                        <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">-->
<!--                            <span>Login</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
                <div class="tab-content">
                    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                        <div th:if="${param.error}" class="alert alert-danger">
                            <span th:text="'Invalid username or password'"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="main-card mb-3 card">
                                    <div class="card-body">
                                        <h5 class="card-title">Login</h5>
                                        <form class="form needs-validation" role="form" th:action="@{/login}" method="POST">
                                            <div class="position-relative form-group">
                                                <label for="username" class="">Username</label>
                                                <input name="username" id="username" placeholder="Username" type="text" class="form-control" required>
                                            </div>
                                            <div class="position-relative form-group">
                                                <label for="password" class="">Password</label>
                                                <input name="password" id="password" placeholder="Password" type="password" class="form-control" required>
                                            </div>
                                            <input type="reset" class="mt-1 btn btn-secondary" value="Cancel">
                                            <button type="submit" class="mt-1 btn btn-primary">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script th:replace="fragments/fragment :: script"></script>
</div>
</body>

</html>