<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/fragment  ::  css" th:remove="tag"></object>
    <object th:include="fragments/fragment  ::  js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment  ::  navbar"></nav>
<div class="container"><br>
    <div th:if="${hasil} == 'Berhasil ubah'">
        <h2 class="text-center" th:text="'Status pengajuan surat berhasil disetujui. '"></h2>
    </div>
    <div th:if="${hasil} == 'Gagal ubah'">
        <h2 class="text-center" th:text="'Status pengajuan surat gagal disetujui. '"></h2>
    </div>


    <br><br>
    <!--    <a th:href= "@{/}">-->
    <!--        <button class="btn btn btn-dark">Kembali ke beranda</button>-->
    <!--    </a>-->

</div>
</body>
</html>
