<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>View All Jenis Surat</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  <object th:include="fragments/fragment :: meta" th:remove="tag"></object>
</head>

<body>
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
  <div th:replace="fragments/fragment :: navbar-header"></div>
  <div th:replace="fragments/fragment :: ui-theme-settings"></div>
  <div class="app-main">
    <div th:replace="fragments/fragment :: navbar-sidebar"></div>
    <!-- CONTENT GOES HERE -->
    <div class="app-main__outer">
      <div class="app-main__inner">
        <div class="app-page-title">
          <div class="page-title-wrapper">
            <div class="page-title-heading">
              <div class="page-title-icon">
                <i class="pe-7s-mail-open icon-gradient bg-mean-fruit"></i>
              </div>
              <div>Daftar Jenis Surat
                <div class="page-title-subheading">Seluruh jenis surat yang telah ditambahkan oleh Admin TU.</div>
              </div>
            </div>
          </div>
        </div>
        <div th:if="${status}" class="alert alert-success">
          <span th:text="${message}"></span>
          <br>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="main-card mb-3 card">
              <div class="card-header">Daftar Jenis Surat</div>
              <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                  <thead>
                  <tr>
                    <th class="text-center">No</th>
                    <th>Nama</th>
                    <th class="text-center">Keterangan</th>
                    <th class="text-center">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="jenisSurat, iterationStatus : ${jenisSuratList}">
                    <td class="text-center" th:text="${iterationStatus.count}"></td>
                    <td th:text="${jenisSurat.nama}"></td>
                    <td class="text-center" th:text="${jenisSurat.keterangan}"></td>
                    <td class="text-center">
                      <form th:action="'/jenis-surat/delete/'+${jenisSurat.id}" method="POST" onsubmit="return confirm('Apakah anda yakin ingin menghapus jenis surat ini?');">
                        <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Hapus</button>
                      </form>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="d-block text-center card-footer">
                <form th:action="@{/jenis-surat/add}" method="GET">
                  <button class="btn-wide btn btn-success"><i class="fa fa-plus"></i> Tambah</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:replace="fragments/fragment :: footer">
    </div>
  </div>
  <script th:replace="fragments/fragment :: script"></script>
</div>
</body>
</html>