<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">

<head>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>

    <head th:fragment="js">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajaz/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9)1clHTMGa3JDZwrnQq4sF86dIHNDz0w1" crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <script th:src="@{js/bootstrap.min.js}"></script>
        <link rel="stylesheet" href="css/bootstrap.css" />

    </head>


</head>


<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--    <a class="navbar-brand" href="#" th:text="${title}"></a>-->
    <a class="navbar-brand" href="#" >SI-TU</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/}"> Home <span class="sr-only">(current)</span></a>
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pengajuan Surat
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/daftar-pengajuan-surat}">Menampilkan Data Pengajuan Surat</a>
                    <a class="dropdown-item" th:href="@{/menambah-pengajuan-surat}" >menambah Pengajuan Surat</a>
                </div>
            </li>

        </div>
    </div>

    <div class="navbar-nav pull-right">
            <a class="nav-item nav-link active" th:href="@{/logout}">Logout</a>
    </div>
</nav>
</body>
</html>
